<div class="selected-article-container">
  <header class="selected-article-header">
    <div>
      <h2>
        {{ selectedArticle.name }}
      </h2>
    </div>

    <div class="article-time">
      <img src="assets/clock.svg" alt='clock' />
      {{selectedArticle.duration}} мин
    </div>
  </header>

  <ul class="articles-list">
    <app-exersize
      *ngFor=""
      [article]="article"
    >
    </app-article>
  </ul>

  <button
    class="selected-article-button"
    (click)="closeSelected()"
  >
  </button>
</div>
